<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>Mobil memory </h1>
    <table style="border-collapse: collapse; text-align: center; width: 100%;">
        <tr>
            <th style="border: 1px solid  black;padding: 10px;">id</th>
            <th style="border: 1px solid  black;padding: 10px;">name</th>
            <th style="border: 1px solid  black;padding: 10px;">company</th>
            <th style="border: 1px solid  black;padding: 10px;">color</th>
            <th style="border: 1px solid  black;padding: 10px;">RAM</th>
            <th style="border: 1px solid  black;padding: 10px;">memory</th>
            <th style="border: 1px solid  black;padding: 10px;">price</th>
            <th style="border: 1px solid  black;padding: 10px;">img phone</th>
        </tr>
        {% for i in data %}
            <tr>
                <td style="border: 1px solid  black;padding: 10px;">{{i.id}}</td>
                <td style="border: 1px solid  black;padding: 10px;">{{i.name}}</td>
                <td style="border: 1px solid  black;padding: 10px;">{{i.company}}</td>
                <td style="border: 1px solid  black;padding: 10px;">{{i.color}}</td>
                <td style="border: 1px solid  black;padding: 10px;">{{i.RAM}}</td>
                <td style="border: 1px solid  black;padding: 10px;">{{i.memory}}</td>
                <td style="border: 1px solid  black;padding: 10px;">{{i.price}}</td>
                <td style="border: 1px solid  black;padding: 10px;"><a href="{{i.img_url}}">{{i.name}}</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>